In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# Loading in the data
app_data = pd.read_csv("Data/Updated_Application_Records.csv")
CrRecord_data = pd.read_csv("Data/Updated_Credit_Records.csv")

In [3]:
# First 5 rows of app_data
app_data.head()

,Unnamed: 0,Client Number,Gender,Own a Car?,Own Property?,# of Children,Annual Income,Income Category,Education Level,Marital Status,Housing type,Have a Mobile Phone?,Have a Work Phone?,Have a Phone?,Have an Email?,Occupation,Family Size,Age,Years Working at Current Job
0,0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,NaN,2,33,12.5
1,1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,NaN,2,33,12.5
2,2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,Security staff,2,59,3.1
3,3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1,52,8.4
4,4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1,52,8.4

In [4]:
# app_data info
app_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 19 columns):
Unnamed: 0                      438557 non-null int64
Client Number                   438557 non-null int64
Gender                          438557 non-null object
Own a Car?                      438557 non-null object
Own Property?                   438557 non-null object
# of Children                   438557 non-null int64
Annual Income                   438557 non-null float64
Income Category                 438557 non-null object
Education Level                 438557 non-null object
Marital Status                  438557 non-null object
Housing type                    438557 non-null object
Have a Mobile Phone?            438557 non-null int64
Have a Work Phone?              438557 non-null int64
Have a Phone?                   438557 non-null int64
Have an Email?                  438557 non-null int64
Occupation                      304354 non-null object
Family Size                     438557 non-null int64
Age                             438557 non-null int64
Years Working at Current Job    438557 non-null float64
dtypes: float64(2), int64(9), object(8)
memory usage: 63.6+ MB

In [5]:
# filling in the blank values
app_data = app_data.fillna("N/A")

In [6]:
# Deleting "Unamed: 0" column
del app_data["Unnamed: 0"]

In [7]:
# Updated app_data info
app_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
Client Number                   438557 non-null int64
Gender                          438557 non-null object
Own a Car?                      438557 non-null object
Own Property?                   438557 non-null object
# of Children                   438557 non-null int64
Annual Income                   438557 non-null float64
Income Category                 438557 non-null object
Education Level                 438557 non-null object
Marital Status                  438557 non-null object
Housing type                    438557 non-null object
Have a Mobile Phone?            438557 non-null int64
Have a Work Phone?              438557 non-null int64
Have a Phone?                   438557 non-null int64
Have an Email?                  438557 non-null int64
Occupation                      438557 non-null object
Family Size                     438557 non-null int64
Age                             438557 non-null int64
Years Working at Current Job    438557 non-null float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [8]:
# First 5 rows on CrRecord_data
CrRecord_data.head()

   Unnamed: 0  Client Number  Record Month Status  Record Month (non-negative)
0           0        5001711             0      X                            0
1           1        5001711            -1      0                            1
2           2        5001711            -2      0                            2
3           3        5001711            -3      0                            3
4           4        5001712             0      C                            0

In [9]:
# Deleting "Record Month (non-negative)" column
del CrRecord_data["Record Month (non-negative)"]

In [10]:
# Deleting "Unnamed: 0" column
del CrRecord_data["Unnamed: 0"]

In [11]:
# Updated CrRecord_data info
CrRecord_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
Client Number    1048575 non-null int64
Record Month     1048575 non-null int64
Status           1048575 non-null object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [12]:
# Merge the datasets
merged_df = pd.merge(app_data, CrRecord_data, on = "Client Number", how = "left")
merged_df.head()

,Client Number,Gender,Own a Car?,Own Property?,# of Children,Annual Income,Income Category,Education Level,Marital Status,Housing type,Have a Mobile Phone?,Have a Work Phone?,Have a Phone?,Have an Email?,Occupation,Family Size,Age,Years Working at Current Job,Record Month,Status
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,N/A,2,33,12.5,0.0,C
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,N/A,2,33,12.5,-1.0,C
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,N/A,2,33,12.5,-2.0,C
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,N/A,2,33,12.5,-3.0,C
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,N/A,2,33,12.5,-4.0,C

In [13]:
# merged_df information
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1179815 entries, 0 to 1179814
Data columns (total 20 columns):
Client Number                   1179815 non-null int64
Gender                          1179815 non-null object
Own a Car?                      1179815 non-null object
Own Property?                   1179815 non-null object
# of Children                   1179815 non-null int64
Annual Income                   1179815 non-null float64
Income Category                 1179815 non-null object
Education Level                 1179815 non-null object
Marital Status                  1179815 non-null object
Housing type                    1179815 non-null object
Have a Mobile Phone?            1179815 non-null int64
Have a Work Phone?              1179815 non-null int64
Have a Phone?                   1179815 non-null int64
Have an Email?                  1179815 non-null int64
Occupation                      1179815 non-null object
Family Size                     1179815 non-null int64
Age                             1179815 non-null int64
Years Working at Current Job    1179815 non-null float64
Record Month                    777715 non-null float64
Status                          777715 non-null object
dtypes: float64(3), int64(8), object(9)
memory usage: 189.0+ MB

In [14]:
# Dropping any null values
merged_df = merged_df.dropna()

In [15]:
# Updated merged_df information
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777715 entries, 0 to 1176070
Data columns (total 20 columns):
Client Number                   777715 non-null int64
Gender                          777715 non-null object
Own a Car?                      777715 non-null object
Own Property?                   777715 non-null object
# of Children                   777715 non-null int64
Annual Income                   777715 non-null float64
Income Category                 777715 non-null object
Education Level                 777715 non-null object
Marital Status                  777715 non-null object
Housing type                    777715 non-null object
Have a Mobile Phone?            777715 non-null int64
Have a Work Phone?              777715 non-null int64
Have a Phone?                   777715 non-null int64
Have an Email?                  777715 non-null int64
Occupation                      777715 non-null object
Family Size                     777715 non-null int64
Age                             777715 non-null int64
Years Working at Current Job    777715 non-null float64
Record Month                    777715 non-null float64
Status                          777715 non-null object
dtypes: float64(3), int64(8), object(9)
memory usage: 124.6+ MB

In [16]:
# Encoding merged_df
from sklearn.preprocessing import LabelEncoder
merged_df = merged_df.apply(LabelEncoder().fit_transform)
merged_df.head()

,Client Number,Gender,Own a Car?,Own Property?,# of Children,Annual Income,Income Category,Education Level,Marital Status,Housing type,Have a Mobile Phone?,Have a Work Phone?,Have a Phone?,Have an Email?,Occupation,Family Size,Age,Years Working at Current Job,Record Month,Status
0,0,1,1,1,0,226,4,1,0,4,0,1,0,0,12,1,12,126,60,6
1,0,1,1,1,0,226,4,1,0,4,0,1,0,0,12,1,12,126,59,6
2,0,1,1,1,0,226,4,1,0,4,0,1,0,0,12,1,12,126,58,6
3,0,1,1,1,0,226,4,1,0,4,0,1,0,0,12,1,12,126,57,6
4,0,1,1,1,0,226,4,1,0,4,0,1,0,0,12,1,12,126,56,6

In [17]:
# Column names
merged_df.columns

Index(['Client Number', 'Gender', 'Own a Car?', 'Own Property?',
       '# of Children', 'Annual Income', 'Income Category', 'Education Level',
       'Marital Status', 'Housing type', 'Have a Mobile Phone?',
       'Have a Work Phone?', 'Have a Phone?', 'Have an Email?', 'Occupation',
       'Family Size', 'Age', 'Years Working at Current Job', 'Record Month',
       'Status'],
      dtype='object')

In [18]:
# assigning y 
y = merged_df["Status"]

In [19]:
# Assigning X
X = merged_df[["Gender","Annual Income", "Education Level", "Marital Status", "Occupation","Age"]]

In [20]:
# Columns taken out of X
# Own a Car?, Own Property, income category, housing type, family size, # of children

In [21]:
# Import train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [22]:
# Create classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
# Fit the data
classifier.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [24]:
# Printing the training and testing scores
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.42493219449806785
Testing Data Score: 0.42396967530563856

In [26]:
# Importing grid search and creating the model
from sklearn.model_selection import GridSearchCV
param_grid = {'C':[0.001, 0.01, 0.1, 1, 10, 100, 1000]}
grid = GridSearchCV(LogisticRegression(), param_grid, verbose=3)

In [27]:
# Fitting the model
grid.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

Fitting 3 folds for each of 7 candidates, totalling 21 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] C=0.001 .........................................................
[CV] ................ C=0.001, score=0.4244723090849243, total=  15.1s
[CV] C=0.001 .........................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   15.2s remaining:    0.0s
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................ C=0.001, score=0.4245354345287997, total=  13.7s
[CV] C=0.001 .........................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   29.1s remaining:    0.0s
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................ C=0.001, score=0.4247087565899447, total=  13.4s
[CV] C=0.01 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.01, score=0.4249197662936142, total=  16.6s
[CV] C=0.01 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.01, score=0.4244788586064836, total=  16.8s
[CV] C=0.01 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.01, score=0.4252951009386653, total=  16.4s
[CV] C=0.1 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.1, score=0.42488376398946676, total=  23.4s
[CV] C=0.1 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.1, score=0.42425255491721914, total=  20.2s
[CV] C=0.1 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=0.1, score=0.42547511894046547, total=  19.0s
[CV] C=1 .............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] .................... C=1, score=0.4247500411454905, total=  23.2s
[CV] C=1 .............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] .................... C=1, score=0.4245148614661393, total=  22.5s
[CV] C=1 .............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ..................... C=1, score=0.424965925163945, total=  21.3s
[CV] C=10 ............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................... C=10, score=0.4248374753127057, total=  22.3s
[CV] C=10 ............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] .................. C=10, score=0.42425255491721914, total=  22.8s
[CV] C=10 ............................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] .................. C=10, score=0.42557798637006555, total=  21.1s
[CV] C=100 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] .................. C=100, score=0.4247346115865701, total=  21.8s
[CV] C=100 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=100, score=0.42423198185455874, total=  22.5s
[CV] C=100 ...........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=100, score=0.42557284299858555, total=  24.5s
[CV] C=1000 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................. C=1000, score=0.4248374753127057, total=  21.5s
[CV] C=1000 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................ C=1000, score=0.42448914513781383, total=  22.0s
[CV] C=1000 ..........................................................

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[CV] ................ C=1000, score=0.42557798637006555, total=  20.8s

[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  7.1min finished
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [28]:
# Finding best parameter and score
print(grid.best_params_)
print(grid.best_score_)

{'C': 1000}
0.42496819741944775

In [29]:
# Predictions
predictions = grid.predict(X_test)

In [30]:
# Importing and creating classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.40      0.03      0.05     73023
           1       0.00      0.00      0.00      2200
           2       0.00      0.00      0.00       212
           3       0.00      0.00      0.00        77
           4       0.00      0.00      0.00        52
           5       0.00      0.00      0.00       365
           6       0.42      0.98      0.59     82355
           7       0.00      0.00      0.00     36145

   micro avg       0.42      0.42      0.42    194429
   macro avg       0.10      0.13      0.08    194429
weighted avg       0.33      0.42      0.27    194429

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [31]:
# Creating feature names
feature_names = merged_df.columns

In [32]:
# Creating the decision tree model
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6103821960715737

In [33]:
# Creating the random forest model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=250)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6102330413672857

In [34]:
# Finding the most important features
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.36819051174102524, 'Annual Income'),
 (0.35731741844554693, 'Gender'),
 (0.14777686001105106, '# of Children'),
 (0.07533457263446453, 'Own Property?'),
 (0.028198446948504402, 'Own a Car?'),
 (0.023182190219407393, 'Client Number')]